#imagem_perfil {
    height: 35px;
    width: 35px;
    position: absolute;
    padding-top: 1px;
    margin-left: 5px;
}

#nome_perfil {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 3px;
}

#cargo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
}

#imagem_home {
    height: 35px;
    width: 35px;
    margin-left: 80%;
}

#imagem_deslogar {
    height: 33px;
    width: 35px;
    margin-left: 10px;
}

.topo_menu {
    background-color: #ffb000;
    top: 0px;
    left: 0px;
    width: 103.5%;
    margin-top: -8px;
    margin-left: -8px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #fec700;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

label {
    font-size: 16px;
}

.textbox {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: hidden;
    border-bottom: 1px solid #fec700;
    height: 25px;
    width: 98%;
}

.textbox_trans{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: hidden;
    border-bottom: 1px solid #fec700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25px;
    width: 98%;
    background-color: rgba(0,0,0,0.1)
}

.textbox_trans1{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: hidden;
    border-bottom: 1px solid #fec700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 31px;
    width: 99%;
    background-color: rgba(0,0,0,0.1)
}

.botao {
    background: #2e294e;
    border: 1px solid #fec700;
    border-radius: 10px;
    padding: 20px 45px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 16px/1 "Open Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 120px;
    text-decoration: none;
    margin-bottom: 10px;
}

#botao {
    text-align: center;
}

#depois {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}