body {
    margin: 0;
    padding: 0;
}

.centralizar-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.centralizar-div-filas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#menu {
    background-color: #ffd43c;
    width: 100%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 10px -5px #888888;
}

#menu ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-left: 40px;
    width: 100%;
}

#espaco-menu-aberto {
    float: right;
    margin-top: 15px;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#espaco-menu-fechado {
    float: right;
    margin-top: 15px;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

#caixa-menu-aberto {
    background:    #00d218;
    border-radius: 1000px;
    padding:       10px;
    width: 80%;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 20px/1 "Open Sans", sans-serif;
    text-align:    center;
    border: 0;
    margin-left: 22px;
}

#caixa-menu-fechado {
    background:   red;
    border-radius: 1000px;
    padding:       10px;
    width: 80%;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 20px/1 "Open Sans", sans-serif;
    text-align:    center;
    border: 0;
    margin-left: 22px;
}

.imagens_menu {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 2% auto;
}

header {
    background-color: #ffd43c;
    width: 100%;
    height: 70px;
}

#voltar {
    width: 20px;
    height: 26px;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
}

#icone {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 35px;
    z-index: 2;
    margin-left: -1px;
}

#redor {
    background-color: #2e294e;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border-radius: 100%;
    z-index: 2;
}

#redor2 {
    background-color: #2e294e;
    height: 50px;
    margin-left: 70px;
    margin-top: -60px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}

#avaliacao-principal {
    border-bottom: 2px solid #c9c9c9;
    width: 90%;
    height: 120px;
    margin-top: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

#nota-principal {
    text-align: center;
    margin-right: 60px;
}

#img-nota-principal {
    width: 50px;
    height: 50px;
    margin-top: -90px;
    margin-left: 60px;
}

#qnt-avaliacao {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: -5px;
}

.nota-secun {
    width: 30px;
    height: 30px;
}

.nota-secun1 {
    width: 30px;
    height: 30px;
}

.fila {
    margin-top: 20px;
    width: 100%;
}

.numero-avaliacao {
    font-weight: bold;
    margin-left: 15px;
    top: -7px;
    position: relative;
}

.comentarios {
    width: 90%;
    height: auto;
    padding-bottom: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: 75px;
}

main {
    height: auto;
    padding-bottom: 200px;
}

.nome-cliente {
    font-size: 18px;
    margin-left: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.nota-comentario {
    width: 25px;
    height: 25px;
}

.conjunto-nota {
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}

.data-comentario {
    font-size: 15px;
    margin-top: -10px;
    margin-left: 20px;
}

.pedido {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;  
    margin-left: 10px;
}

.quant {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;  
    margin-left: 20px;
}

.preco {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;  
    float: right;
    margin-right: 20px;
}

.inf-pedido {
    margin-top: 30px;
}

.valor-pedido {
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

.comentario {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}