/*  CSS Vendedor Resumo  */

#voltar {  
    width: 20px;
    height: 26px;
    position: absolute;
    margin-left: 93%;
}

.h1 {
    font-size: 20px;
}

#imagem_central {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 30%;
    border-radius: 10px;
}

h2 {
    font-family: Candara, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

#table {
    display: table;
}

#imagem_paypal  {
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
    float: left
}

h3 {
    font-size: 16px;
    font-family: Candara, sans-serif;
    margin-top: -2px;
    margin-left: 23%; 
}

#termos_de_uso {
    font-size: 16px;
    font-family: Candara, sans-serif;
}

.botao {
    background: #2e294e;
    border: 1px solid #fec700;
    border-radius: 10px;
    padding: 20px 45px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 16px/1 "Open Sans", sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 60%;
}

#botao {
    text-align: center;
}